<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/meta') %>
  <title>Home</title>
  <%- include('partials/stylesheet') %>
  <%- include('partials/scriptjs') %>
</head>
<body>
  <%- include('partials/header') %>
  <%- include('partials/navbar') %>
  <main>
  <%- include('partials/welcome') %>

</body>

   <!-- Slideshow for Ads -->
   <%- include('partials/AdsSlideshow') %>

  <!-- Card View for Offers -->
  <%- include('partials/offerscardview') %>


 <!-- Additional Blocks or Features -->
  <%- include('partials/Features') %>
  </main>
  <%- include('partials/footer') %>
</html>
