<!DOCTYPE html>
<html>
<head>
  <%- include('partials/meta') %>
  <title><%= title %></title>
  <%- include('partials/stylesheet') %>
  <%- include('partials/scriptjs') %>

</head>

  
  <%- include('partials/header') %>
  <%- include('partials/navbar') %>

  <%- body %>

  <%- include('partials/footer') %>


</html>
