<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/meta') %>
  <title>Login</title>
  <%- include('partials/stylesheet') %>
  <%- include('partials/scriptjs') %>
</head>
<%- include('partials/header') %>
<%- include('partials/navbar') %>
<body>

  <% include('layout', { title: 'Login', body: '' }) %>
  
  <%- include('partials/sign-in') %>


</body>
<%- include('partials/footer') %>
</html>
