<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Offers</title>
  <%- include('partials/stylesheet') %>
  <%- include('partials/scriptjs') %>
</head>
<%- include('partials/header') %>
<%- include('partials/navbar') %>
<body>
  <% include('layout', { title: 'Offers', body: '' }) %>
  <%- include('partials/add_offers') %> 

  <%- include('partials/offer-card') %>
</body>
<%- include('partials/footer') %>
</html>