<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/meta') %>
  <title>Offer Details</title>
  <%- include('partials/stylesheet') %>
  <%- include('partials/scriptjs') %>
</head>
<%- include('partials/header') %>
<%- include('partials/navbar') %>
<body>
  <%- include('partials/offerDetails') %>
</body>
<%- include('partials/footer') %>
</html>
