<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/meta') %>
  <title>Register</title>
  <%- include('partials/stylesheet') %>
  <%- include('partials/scriptjs') %>
</head>
<body>
  <%- include('partials/header') %>
  <%- include('partials/navbar') %>


  <% include('layout', { title: 'Register', body: '' }) %>
  
  <%- include('partials/register') %>

</body>
<%- include('partials/footer') %>
</html>
