<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/meta') %>
  <title>Requests</title>
  <%- include('partials/stylesheet') %>
  <%- include('partials/scriptjs') %>
</head>
<%- include('partials/header') %>
<%- include('partials/navbar') %>
<body>

  <%- include('partials/requests') %>

</body>
<%- include('partials/footer') %>
</html>
